<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <!-- Lien vers Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar-custom {
            background-color: #343a40;
        }
        .navbar-custom .navbar-brand, .navbar-custom .navbar-nav .nav-link {
            color: #fff;
        }
        .empty {
            text-align: center;
            color: #6c757d;
        }
        .list-group-item {
            border-radius: 0.25rem;
            border: 1px solid #ddd;
            margin-bottom: 1rem;
        }
        .dataset-info h2 {
            margin-bottom: 0.5rem;
        }
    </style>
</head>
<body>
    <!-- En-tête -->
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="#">Dataset</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chatbot' %}">Créer un Dataset</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Section des datasets -->
    <div class="container mt-5">
        <form method="GET" action="{% url 'list_datasets' %}" class="form-inline justify-content-center mb-4">
            <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search" name="q" value="{{ query }}">
            <select class="form-control mr-sm-2" name="file_type">
                <option value="">Tous les types</option>
                <option value="csv" {% if file_type == 'csv' %}selected{% endif %}>CSV</option>
                <option value="json" {% if file_type == 'json' %}selected{% endif %}>JSON</option>
                <option value="jpg" {% if file_type == 'jpg' %}selected{% endif %}>JPG</option>
                <option value="png" {% if file_type == 'png' %}selected{% endif %}>PNG</option>
            </select>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
        </form>

        <!-- Boutons de filtrage par type de dataset -->
        <div class="btn-group btn-group-toggle mb-4" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="dataset_type" id="text" value="text" checked autocomplete="off" onclick="toggleVisibility('text');"> Datasets de Texte
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="dataset_type" id="images" value="images" autocomplete="off" onclick="toggleVisibility('images');"> Datasets d'Images
            </label>
        </div>

        <!-- Section des datasets d'images -->
        <div class="col-md-8" id="images_section" style="display:none;">
            <ul class="list-group">
                {% for image_folder_metadata in image_folder_metadata_list %}
                <li class="list-group-item mb-4 p-4">
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="dataset-info">
                            <h2>{{ image_folder_metadata.folder_name }}</h2>
                            <button class="btn btn-info btn-sm mt-2" onclick="toggleInfo('image-info-{{ forloop.counter }}')">Plus d'infos</button>
                            <div id="image-info-{{ forloop.counter }}" class="mt-3 card" style="display: none;">
                                <div class="card-body">
                                    <p><strong>Description:</strong> {{ image_folder_metadata.description }}</p>
                                    <p><strong>Type de fichier:</strong> {{ image_folder_metadata.fichier_type }}</p>
                                    <p><strong>Chargé par:</strong> {{ image_folder_metadata.Auteur.username }}</p>
                                    <p><strong>Chargé le:</strong> {{ image_folder_metadata.HeureChargement }}</p>
                                    <p><strong>Taille du fichier:</strong> 
                                        {% if image_folder_metadata.file_size %}
                                            {{ image_folder_metadata.file_size|floatformat:2 }} KB
                                        {% else %}
                                            Inconnue
                                        {% endif %}
                                    </p>                            
                                </div>
                            </div>
                        </div>
                        <div class="dataset-actions ml-3">
                            <a href="{% url 'download_all_images' image_collection_name=image_folder_metadata.folder_name %}" class="btn btn-outline-success btn-sm mt-2">Télécharger</a>
                            {% if is_professor %}
                                <form method="POST" action="{% url 'delete_image_folder' folder_name=image_folder_metadata.folder_name %}" style="display: inline;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce dossier ?')">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-danger btn-sm mt-2 ml-2">Supprimer</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mt-3">
                        <img src="{{ image_folder_metadata.image_url }}" alt="Image" class="img-fluid">
                    </div>
                </li>
                {% empty %}
                <li class="list-group-item empty">Aucune image disponible.</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Section des datasets de texte -->
        <!-- Section des datasets de texte -->
<div class="col-md-8" id="text_section">
    <ul class="list-group">
        {% for collection_name in text_collections %}
        <li class="list-group-item mb-4 p-4">
            <div class="d-flex justify-content-between align-items-start">
                <div class="dataset-info">
                    <h2>{{ collection_name }}</h2>
                    <button class="btn btn-info btn-sm mt-2" onclick="toggleInfo('text-info-{{ forloop.counter }}')">Plus d'infos</button>
                    <div id="text-info-{{ forloop.counter }}" class="mt-3 card" style="display: none;">
                        <div class="card-body">
                            <p><strong>Nom de la collection:</strong> {{ collection_name }}</p>
                        </div>
                    </div>
                </div>
                <div class="dataset-actions ml-3">
                    <a href="{% url 'download_data' collection_name=collection_name %}" class="btn btn-outline-success btn-sm mt-2">Télécharger</a>
                    {% if is_professor %}
                        <form method="POST" action="{% url 'delete_dataset' dataset_id=collection_name.id %}" style="display: inline;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce dataset ?')">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger btn-sm mt-2 ml-2">Supprimer</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </li>
        {% empty %}
        <li class="list-group-item empty">Aucune collection de texte disponible.</li>
        {% endfor %}
    </ul>
</div>


        <div class="text-center mt-4">
            <a href="{% url 'chatimagedernier' %}" class="btn btn-outline-success btn-lg">Voir le dernier dataset d'images</a>
            <a href="{% url 'chatbot' %}" class="btn btn-outline-primary btn-lg mt-2">Accéder a la création dataset de texte</a> <!-- Nouveau bouton -->
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center mt-5">
        <p>&copy; 2024  Inc.</p>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function toggleVisibility(section) {
            document.getElementById('images_section').style.display = (section === 'images') ? 'block' : 'none';
            document.getElementById('text_section').style.display = (section === 'text') ? 'block' : 'none';
        }

        function toggleInfo(id) {
            var element = document.getElementById(id);
            element.style.display = (element.style.display === "none" || element.style.display === "") ? "block" : "none";
        }
    </script>
</body>
</html>
