<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de Transfert</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Transfert de texte</h1>
        <p>Les données ont été transférées avec succès vers MongoDB.</p>
        <a href="{% url 'accueil' %}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
</body>
</html>
